/* 1、基础设置 */
*{
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;} /*inherit:和父元素颜色一致  text-decoration: none无下划线*/
input{font: inherit;}
body{
    font-size: 12px;
    line-height: 1.5;   /*  行间距 */
}

/* 2、layout布局 */
.page{
    display: flex; /* 默认左右布局 */
    height: 100vh;
}
.page > aside{
    width: 200px;
    /* border: 1px solid red; */
}
.page > main{
    flex-grow: 1; /* 自己跟着旁边的元素变化 */
    /* border: 1px solid green; */
    padding-left: 20px;
}

/* 3、特殊设置 */
/* aside */
.page > aside{
    display: flex;
    flex-direction: column;
}
.newSong{
    text-align: center;
    padding: 10px;
}
.newSong.active{
    background: #d4d4d4;
}
#songList-container{
    flex-grow: 1;  /* 自动靠到最下边 */ 
}
.songList{
    text-align: left; /* 文本内容靠左 */
    border-top: 1px solid #999;
}
.songList > li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
}
.songList > li.active{
    background: #d4d4d4;
}
.uploadArea{

}

.draggable{
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    border: 2px dashed #ddd;
    width: 200px;
    /* 居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 内部元素垂直结构 */
    flex-direction: column;
}
.clickable{
    cursor: pointer;
}

/* main */
.page > main{
    background: #d4d4d4;
}
.form {
    font-size: 14px;
}
.form > .row{
    margin: 20px 0;
    display: flex;
}
.form > .row > label{
    /* display: inline-block; */
    width: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}
.form > .row.actions{
    margin-left: calc(4em + 5px);
}
.form input[type=text]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;
}
.form input[type=button],
.form input[type=submit],
.form button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.page > main{
    padding-top: 20px;
    /* border: 1px solid red; */
}
.page > main > .form{

}

/* 上传歌曲时loading动画 */
@keyframes loading{  /*  关键帧，起loading动画忽大忽小作用*/
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(0.1);
    }
}
.site-loading{
    visibility: hidden;  /* 刚开始元素隐藏*/ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);/*猜测最后一个是程度*/
}
.site-loading.active{
    visibility: visible;
}
.site-loading::before{/*设置伪元素————loading动画*/
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    animation: loading 1s infinite alternate-reverse;  /*infinite:一直循环 alternate：交替：先前再后 alternate-reverse：颠倒交替：先后再前*/
    animation-timing-function:linear;
}
